.nav{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
  background-color: $primary;

  &-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    
    width: 92%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    color: white;

    & h1{
      margin: 0;
      font-weight: 500;

      & > span{
        font-weight: 700;
      }
    }
  }
}